<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>

  <body>
    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            
                          {{ .Content }}
                          <iframe src="https://cloud.cc3d.org/index.php/apps/calendar/embed/7ZgWbCa9tZwSPTBz/dayGridMonth/2024-02-01" style="border:0px solid rgb(8, 0, 255);width:100%;height:600px;"></iframe>
                          <a href="https://cloud.cc3d.org/index.php/apps/calendar/embed/7ZgWbCa9tZwSPTBz/dayGridMonth/2024-02-01" target="_blank">Abrir</a>
                       
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>